In [103]:
# Import pandas library for data manipulation and analysis
import pandas as pd

In [104]:
# Install the xlrd library for reading Excel files
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\samee\appdata\local\programs\python\python312\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [105]:
# Load the Excel file with sheet name "Orders" into a DataFrame
df=pd.read_excel("E:/Gen ai by qt/Machine Learning prac files/Global Superstore.xls","Orders")

In [106]:

# Display all column names in the DataFrame
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [107]:
# Display data types of each column
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [108]:
# Display the first 5 rows of the DataFrame
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [109]:
# Display the first 10 rows of the DataFrame
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
5,22732,IN-2013-42360,2013-06-28,2013-07-01,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,TEC-PH-10000030,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,897.35,Critical
6,30570,IN-2011-81826,2011-11-07,2011-11-09,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,FUR-CH-10004050,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.77,Critical
7,31192,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,...,FUR-TA-10002958,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38,High
8,40155,CA-2014-135909,2014-10-14,2014-10-21,Standard Class,JW-15220,Jane Waco,Corporate,Sacramento,California,...,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.960,5,0.2,1906.4850,867.69,Low
9,40936,CA-2012-116638,2012-01-28,2012-01-31,Second Class,JH-15985,Joseph Holt,Consumer,Concord,North Carolina,...,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13,0.4,-1862.3124,865.74,Critical

In [110]:
# Display the last 5 rows of the DataFrame
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51285,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.010,Medium
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium
51287,40470,US-2013-155768,2013-12-02,2013-12-02,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.010,High
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.003,Medium
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High

In [111]:
#Display the last 10 rows of the DataFrame
df.tail(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51280,46582,TU-2014-6730,2014-11-29,2014-11-30,First Class,KF-6285,Karen Ferguson,Home Office,Midyat,Mardin,...,OFF-BOS-10000350,Office Supplies,Art,"Boston Pens, Blue",34.128,6,0.6,-49.5720,0.020,Medium
51281,6039,MX-2014-169530,2014-06-09,2014-06-11,First Class,HG-15025,Hunter Glantz,Consumer,Bragança Paulista,São Paulo,...,OFF-PA-10002418,Office Supplies,Paper,"Green Bar Message Books, Multicolor",84.000,5,0.0,9.2000,0.019,High
51282,9922,MX-2012-100258,2012-12-28,2012-12-31,First Class,KM-16375,Katherine Murray,Home Office,Managua,Managua,...,OFF-PA-10004020,Office Supplies,Paper,"SanDisk Message Books, 8.5 x 11",18.640,1,0.0,8.0000,0.010,Medium
51283,24105,IN-2014-72327,2014-05-30,2014-05-30,Same Day,KH-16330,Katharine Harms,Corporate,Lucknow,Uttar Pradesh,...,OFF-PA-10000215,Office Supplies,Paper,"Eaton Parchment Paper, Premium",26.940,2,0.0,1.8600,0.010,High
51284,24175,IN-2014-57662,2014-08-05,2014-08-10,Standard Class,DB-13270,Deborah Brumfield,Home Office,Townsville,Queensland,...,OFF-BI-10002424,Office Supplies,Binders,"Avery Binder, Economy",58.050,5,0.1,19.9500,0.010,Medium
51285,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.010,Medium
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium
51287,40470,US-2013-155768,2013-12-02,2013-12-02,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.010,High
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.003,Medium
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High

In [112]:
# Get the number of rows and columns in the DataFrame
df.shape

(51290, 24)

In [113]:
# Access the "Profit" column
df["Profit"]

0        762.1845
1       -288.7650
2        919.9710
3        -96.5400
4        311.5200
           ...
51285      4.5000
51286     -1.1100
51287     11.2308
51288      2.4000
51289      1.8000
Name: Profit, Length: 51290, dtype: float64

In [114]:
# Access the "Ship Mode" column
df["Ship Mode"]

0              Same Day
1          Second Class
2           First Class
3           First Class
4              Same Day
              ...
51285          Same Day
51286    Standard Class
51287          Same Day
51288    Standard Class
51289      Second Class
Name: Ship Mode, Length: 51290, dtype: object

In [115]:

# Compute the mean of the "Profit" column (# it prints sesries of means)
df["Profit"].mean

<bound method Series.mean of 0        762.1845
1       -288.7650
2        919.9710
3        -96.5400
4        311.5200
           ...
51285      4.5000
51286     -1.1100
51287     11.2308
51288      2.4000
51289      1.8000
Name: Profit, Length: 51290, dtype: float64>

In [116]:
# Compute the mean of the "Profit" column
df["Profit"].mean()

np.float64(28.610982477675964)

In [117]:
# Compute the median of the "Profit" column (it prints series of median)
df["Profit"].median

<bound method Series.median of 0        762.1845
1       -288.7650
2        919.9710
3        -96.5400
4        311.5200
           ...
51285      4.5000
51286     -1.1100
51287     11.2308
51288      2.4000
51289      1.8000
Name: Profit, Length: 51290, dtype: float64>

In [118]:

# Compute the median of the "Profit" column
df["Profit"].median()

np.float64(9.24)

In [119]:
# Attempt to calculate the median of a non-numeric column ("Ship Mode") (will fail)
df["Ship Mode"].median

<bound method Series.median of 0              Same Day
1          Second Class
2           First Class
3           First Class
4              Same Day
              ...
51285          Same Day
51286    Standard Class
51287          Same Day
51288    Standard Class
51289      Second Class
Name: Ship Mode, Length: 51290, dtype: object>

In [120]:
# Attempt to calculate the mode of a non-numeric column ("Ship Mode") (it is going to print the series of mode values)
df["Ship Mode"].mode

<bound method Series.mode of 0              Same Day
1          Second Class
2           First Class
3           First Class
4              Same Day
              ...
51285          Same Day
51286    Standard Class
51287          Same Day
51288    Standard Class
51289      Second Class
Name: Ship Mode, Length: 51290, dtype: object>

In [121]:
# Correctly calculate the mode of the "Ship Mode" column
df["Ship Mode"].mode()

0    Standard Class
Name: Ship Mode, dtype: object

In [122]:
# Display summary statistics for numeric columns
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810

In [123]:
# Display summary statistics for the "Profit" column
df["Profit"].describe()

count    51290.000000
mean        28.610982
std        174.340972
min      -6599.978000
25%          0.000000
50%          9.240000
75%         36.810000
max       8399.976000
Name: Profit, dtype: float64

In [124]:
# Display the last 5 rows again
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51285,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.010,Medium
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium
51287,40470,US-2013-155768,2013-12-02,2013-12-02,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.010,High
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.003,Medium
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High

In [125]:

# Display summary statistics including non-numeric columns
df.describe(include= "all")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
count,51290.00000,51290,51290,51290,51290,51290,51290,51290,51290,51290,...,51290,51290,51290,51290,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290
unique,NaN,25035,NaN,NaN,4,1590,795,3,3636,1094,...,10292,3,17,3788,NaN,NaN,NaN,NaN,NaN,4
top,NaN,CA-2014-100111,NaN,NaN,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,...,OFF-AR-10003651,Office Supplies,Binders,Staples,NaN,NaN,NaN,NaN,NaN,Medium
freq,NaN,14,NaN,NaN,30775,97,108,26518,915,2001,...,35,31273,6152,227,NaN,NaN,NaN,NaN,NaN,29433
mean,25645.50000,NaN,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,246.490581,3.476545,0.142908,28.610982,26.375818,NaN
min,1.00000,NaN,2011-01-01 00:00:00,2011-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000,0.002000,NaN
25%,12823.25000,NaN,2012-06-19 00:00:00,2012-06-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.758625,2.000000,0.000000,0.000000,2.610000,NaN
50%,25645.50000,NaN,2013-07-08 00:00:00,2013-07-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,85.053000,3.000000,0.000000,9.240000,7.790000,NaN
75%,38467.75000,NaN,2014-05-22 00:00:00,2014-05-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,251.053200,5.000000,0.200000,36.810000,24.450000,NaN
max,51290.00000,NaN,2014-12-31 00:00:00,2015-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.850000,8399.976000,933.570000,NaN
std,14806.29199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,487.565361,2.278766,0.212280,174.340972,57.296810,NaN

In [126]:
# Calculate and print the mean of the "Sales" column
print(df["Sales"].mean())
# Calculate and print the median of the "Sales" column
print(df["Sales"].median())
# Calculate and print the mode of the "Sales" column
print(df["Sales"].mode())

246.49058120257362
85.053
0    12.96
Name: Sales, dtype: float64

In [127]:
# Calculate and print the mean of the "Discount" column
print(df["Discount"].mean())
# Calculate and print the median of the "Discount" column
print(df["Discount"].median())
# Calculate and print the mode of the "Discount" column
print(df["Discount"].mode())

0.14290754533047378
0.0
0    0.0
Name: Discount, dtype: float64

In [128]:
# Calculate and print the mean of the "Shipping Cost" column
print(df["Shipping Cost"].mean())
# Calculate and print the median of the "Shipping Cost" column
print(df["Shipping Cost"].median())
# Calculate and print the mode of the "Shipping Cost" column
print(df["Shipping Cost"].mode())

26.3758179645155
7.79
0    0.35
Name: Shipping Cost, dtype: float64

In [129]:
# Filter rows where "Profit" is greater than 1000
df[df["Profit"]>1000]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
8,40155,CA-2014-135909,2014-10-14,2014-10-21,Standard Class,JW-15220,Jane Waco,Corporate,Sacramento,California,...,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.96,5,0.2,1906.4850,867.69000,Low
12,45794,SA-2011-1830,2011-12-27,2011-12-29,Second Class,MM-7260,Magdelene Morse,Consumer,Jizan,Jizan,...,TEC-CIS-10001717,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.96,4,0.0,1151.4000,832.41000,Critical
14,27704,IN-2013-73951,2013-06-06,2013-06-08,Second Class,PF-19120,Peter Fuller,Consumer,Mudanjiang,Heilongjiang,...,OFF-AP-10003500,Office Supplies,Appliances,"KitchenAid Microwave, White",3701.52,12,0.0,1036.0800,804.54000,Critical
17,12069,ES-2014-1651774,2014-09-08,2014-09-14,Standard Class,PJ-18835,Patrick Jones,Corporate,Prato,Tuscany,...,OFF-AP-10004512,Office Supplies,Appliances,"Hoover Stove, Red",7958.58,14,0.0,3979.0800,778.32000,Low
23,13528,ES-2013-2860574,2013-02-27,2013-03-01,Second Class,LB-16795,Laurel Beltran,Home Office,Edinburgh,Scotland,...,OFF-AP-10003590,Office Supplies,Appliances,"KitchenAid Refrigerator, Black",5273.70,10,0.0,1898.4000,730.91000,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13013,23447,IN-2011-77892,2011-04-02,2011-04-08,Standard Class,HL-15040,Hunter Lopez,Consumer,Rajshahi,Rajshahi,...,TEC-PH-10001751,Technology,Phones,"Samsung Smart Phone, Cordless",3195.00,5,0.0,1150.2000,23.95000,Medium
14843,39450,CA-2014-140151,2014-03-24,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,Seattle,Washington,...,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.9808,20.00054,Medium
16062,39785,CA-2013-158841,2013-02-02,2013-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,Arlington,Virginia,...,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.95,5,0.0,2799.9840,17.83000,Critical
19307,21850,IN-2011-50060,2011-09-06,2011-09-13,Standard Class,MC-17575,Matt Collins,Consumer,Yancheng,Jiangsu,...,FUR-BO-10000035,Furniture,Bookcases,"Dania Classic Bookcase, Pine",2472.66,6,0.0,1038.4200,13.25000,Medium
39564,12383,ES-2012-5671193,2012-05-29,2012-05-29,Same Day,MG-18145,Mike Gockenbach,Consumer,Luton,England,...,TEC-PH-10004823,Technology,Phones,"Nokia Smart Phone, Full Size",5724.54,9,0.0,2461.3200,2.34000,Medium

In [130]:
# Filter rows where "Profit" > 1000 and "Shipping Cost" < 600
df[(df["Profit"]>1000) & (df["Shipping Cost"]<600)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
66,16653,IT-2014-4540740,2014-12-07,2014-12-08,First Class,DK-13090,Dave Kipp,Consumer,Seville,Andalusía,...,FUR-BO-10004999,Furniture,Bookcases,"Safco Classic Bookcase, Metal",2188.05,5,0.0,1050.1500,593.91000,High
70,21191,IN-2013-40050,2013-06-07,2013-06-09,First Class,AS-10225,Alan Schoenberger,Corporate,Jinan,Shandong,...,FUR-CH-10003232,Furniture,Chairs,"Harbour Creations Executive Leather Armchair, ...",3298.26,7,0.0,1055.2500,589.36000,High
72,49085,CG-2013-6110,2013-03-29,2013-03-31,Second Class,BW-1065,Barry Weirich,Consumer,Kananga,Kasai-Occidental,...,FUR-HAR-10002873,Furniture,Chairs,"Harbour Creations Executive Leather Armchair, ...",3808.80,8,0.0,1523.5200,588.13000,High
76,31806,CA-2012-145352,2012-03-16,2012-03-22,Standard Class,CM-12385,Christopher Martinez,Consumer,Atlanta,Georgia,...,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.95,5,0.0,3177.4750,581.12000,Medium
78,24443,IN-2011-62506,2011-11-09,2011-11-11,Second Class,SZ-20035,Sam Zeldin,Home Office,Nanchong,Sichuan,...,TEC-CO-10002526,Technology,Copiers,"Sharp Wireless Fax, Digital",3200.04,9,0.0,1183.9500,576.71000,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13013,23447,IN-2011-77892,2011-04-02,2011-04-08,Standard Class,HL-15040,Hunter Lopez,Consumer,Rajshahi,Rajshahi,...,TEC-PH-10001751,Technology,Phones,"Samsung Smart Phone, Cordless",3195.00,5,0.0,1150.2000,23.95000,Medium
14843,39450,CA-2014-140151,2014-03-24,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,Seattle,Washington,...,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.9808,20.00054,Medium
16062,39785,CA-2013-158841,2013-02-02,2013-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,Arlington,Virginia,...,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.95,5,0.0,2799.9840,17.83000,Critical
19307,21850,IN-2011-50060,2011-09-06,2011-09-13,Standard Class,MC-17575,Matt Collins,Consumer,Yancheng,Jiangsu,...,FUR-BO-10000035,Furniture,Bookcases,"Dania Classic Bookcase, Pine",2472.66,6,0.0,1038.4200,13.25000,Medium
39564,12383,ES-2012-5671193,2012-05-29,2012-05-29,Same Day,MG-18145,Mike Gockenbach,Consumer,Luton,England,...,TEC-PH-10004823,Technology,Phones,"Nokia Smart Phone, Full Size",5724.54,9,0.0,2461.3200,2.34000,Medium

In [131]:

# Filter rows where "Profit" < 1000 and "Shipping Cost" > 500
df[(df["Profit"]<1000) & (df["Shipping Cost"]>500)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,25868,IN-2011-18385,2011-05-24,2011-05-26,Second Class,RO-19780,Rose O'Brian,Consumer,Gaoyou,Jiangsu,...,OFF-AP-10000647,Office Supplies,Appliances,"Hoover Refrigerator, White",3670.800,7,0.0,367.0800,510.72,High
115,39399,CA-2012-149846,2012-05-22,2012-05-26,Standard Class,SB-20185,Sarah Brown,Consumer,Los Angeles,California,...,TEC-MA-10004002,Technology,Machines,Zebra GX420t Direct Thermal/Thermal Transfer P...,2973.320,7,0.2,334.4985,510.18,High
116,19559,ES-2013-2757712,2013-05-16,2013-05-20,Second Class,EM-14065,Erin Mull,Consumer,Bremen,Bremen,...,TEC-CO-10001926,Technology,Copiers,"Hewlett Wireless Fax, Laser",1900.950,5,0.0,589.2000,506.89,High
117,38362,CA-2011-106726,2011-12-06,2011-12-08,First Class,RS-19765,Roland Schwarz,Corporate,Los Angeles,California,...,OFF-ST-10001496,Office Supplies,Storage,Standard Rollaway File with Lock,1261.330,7,0.0,327.9458,506.49,Critical
119,21306,IN-2013-63773,2013-05-31,2013-06-02,First Class,VS-21820,Vivek Sundaresam,Consumer,Zigong,Sichuan,...,FUR-BO-10001934,Furniture,Bookcases,"Bush Library with Doors, Metal",1455.120,4,0.0,116.4000,504.56,Critical

In [132]:
# Filter rows with specific columns where "Profit" > 1000 and "Shipping Cost" < 600
df[(df["Profit"]>1000) & (df["Shipping Cost"]<600)][["Profit","Shipping Cost"]]

          Profit  Shipping Cost
66     1050.1500      593.91000
70     1055.2500      589.36000
72     1523.5200      588.13000
76     3177.4750      581.12000
78     1183.9500      576.71000
...          ...            ...
13013  1150.2000       23.95000
14843  6719.9808       20.00054
16062  2799.9840       17.83000
19307  1038.4200       13.25000
39564  2461.3200        2.34000

[132 rows x 2 columns]

In [133]:

# Filter rows with specific columns where "Profit" < 1000 and "Shipping Cost" < 500
df[(df["Profit"]<1000) & (df["Shipping Cost"]<500)][["Profit","Shipping Cost"]]

         Profit  Shipping Cost
120    258.9300        499.620
123    -37.8300        498.620
124   -265.7610        498.520
125    312.6600        498.380
126    493.7856        498.140
...         ...            ...
51285    4.5000          0.010
51286   -1.1100          0.010
51287   11.2308          0.010
51288    2.4000          0.003
51289    1.8000          0.002

[51052 rows x 2 columns]

In [134]:
# Access the "Segment" column from the first 5 rows
df.head()["Segment"]

0       Consumer
1      Corporate
2       Consumer
3    Home Office
4       Consumer
Name: Segment, dtype: object

In [135]:
# Filter rows where "Segment" is "Consumer"
df[df["Segment"]=="Consumer"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.570,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.490,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.040,Critical
6,30570,IN-2011-81826,2011-11-07,2011-11-09,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,FUR-CH-10004050,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.770,Critical
7,31192,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,...,FUR-TA-10002958,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.380,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51277,37361,CA-2012-111780,2012-12-25,2012-12-30,Second Class,RA-19285,Ralph Arnett,Consumer,San Diego,California,...,OFF-PA-10001667,Office Supplies,Paper,Great White Multi-Use Recycled Paper (20Lb. an...,17.940,3,0.0,8.0730,0.020,High
51278,43818,NI-2011-4700,2011-09-08,2011-09-10,Second Class,PO-8865,Patrick O'Donnell,Consumer,Lagos,Lagos,...,OFF-STA-10001791,Office Supplies,Art,"Stanley Highlighters, Water Color",5.364,1,0.7,-6.4560,0.020,High
51281,6039,MX-2014-169530,2014-06-09,2014-06-11,First Class,HG-15025,Hunter Glantz,Consumer,Bragança Paulista,São Paulo,...,OFF-PA-10002418,Office Supplies,Paper,"Green Bar Message Books, Multicolor",84.000,5,0.0,9.2000,0.019,High
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High

In [136]:
# Access the "Segment" column for rows where "Segment" is "Consumer"
df[df["Segment"]=="Consumer"]["Segment"]

0        Consumer
2        Consumer
4        Consumer
6        Consumer
7        Consumer
           ...
51277    Consumer
51278    Consumer
51281    Consumer
51286    Consumer
51289    Consumer
Name: Segment, Length: 26518, dtype: object

In [137]:
# Access the "State" column
df["State"]

0               New York
1        New South Wales
2             Queensland
3                 Berlin
4                  Dakar
              ...
51285          Hiroshima
51286              Texas
51287         California
51288          São Paulo
51289            Managua
Name: State, Length: 51290, dtype: object

In [138]:
# Filter rows where "Segment" is "Consumer" and "State" is "New York"
df[(df["Segment"]=="Consumer") & (df["State"]=="New York")]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
36,36423,CA-2011-160766,2011-09-14,2011-09-14,Same Day,DM-13015,Darrin Martin,Consumer,New York City,New York,...,TEC-MA-10003979,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,2799.960,4,0.0,1371.9804,675.15,High
50,40046,US-2012-163825,2012-06-16,2012-06-19,First Class,LC-16885,Lena Creighton,Consumer,New York City,New York,...,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,3050.376,3,0.2,1143.8910,632.05,High
121,37923,CA-2011-145541,2011-12-14,2011-12-21,Standard Class,TB-21400,Tom Boeckenhauer,Consumer,New York City,New York,...,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,6999.960,4,0.0,2239.9872,499.55,Medium
147,32998,CA-2012-114069,2012-07-13,2012-07-15,Second Class,ND-18370,Natalie DeCherney,Consumer,New York City,New York,...,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,1931.040,9,0.1,321.8400,477.15,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51060,35119,CA-2014-141873,2014-10-10,2014-10-15,Standard Class,HG-14845,Harry Greene,Consumer,New York City,New York,...,OFF-BI-10003655,Office Supplies,Binders,Durable Pressboard Binders,18.240,6,0.2,6.1560,0.13,Medium
51068,39813,CA-2013-132899,2013-04-08,2013-04-12,Standard Class,SF-20200,Sarah Foster,Consumer,New York City,New York,...,OFF-AR-10002833,Office Supplies,Art,Newell 322,3.640,2,0.0,0.9828,0.13,Medium
51110,36503,CA-2012-102015,2012-09-12,2012-09-18,Standard Class,TM-21010,Tamara Manning,Consumer,Auburn,New York,...,OFF-FA-10000490,Office Supplies,Fasteners,"OIC Binder Clips, Mini, 1/4"" Capacity, Black",1.240,1,0.0,0.5828,0.11,Medium
51165,32881,CA-2012-131338,2012-08-09,2012-08-12,First Class,NP-18325,Naresj Patel,Consumer,New York City,New York,...,FUR-FU-10001706,Furniture,Furnishings,Longer-Life Soft White Bulbs,6.160,2,0.0,2.9568,0.09,Medium
51211,38308,US-2011-135881,2011-05-23,2011-05-27,Standard Class,GT-14710,Greg Tran,Consumer,New York City,New York,...,OFF-SU-10003002,Office Supplies,Supplies,Letter Slitter,5.040,2,0.0,0.1512,0.07,Medium

In [139]:
# Display the first 5 rows of the DataFrame
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [140]:
# Add a new column "My_column" and initialize it with 0
df["My_column"]=0
# Access the new column "My_column"
df["My_column"]

0        0
1        0
2        0
3        0
4        0
        ..
51285    0
51286    0
51287    0
51288    0
51289    0
Name: My_column, Length: 51290, dtype: int64

In [141]:
# Access the value in the "Sub-Category" column of the 4th row
df.loc[3,"Sub-Category"]

'Phones'

In [142]:
# Access the value in the "Sub-Category" column of the 3rd row
df.loc[2,"Sub-Category"]

'Phones'

In [143]:
# Access the value in the "Sub-Category" column of the 2nd row
df.loc[1,"Sub-Category"]

'Chairs'

In [144]:
# Access the value in the "Sub-Category" column of the 5th row
df.loc[4,"Sub-Category"]

'Copiers'

In [145]:
# Access the value in the "Sub-Category" column of the 1st row
df.loc[0,"Sub-Category"]

'Accessories'

In [146]:
# Display summary statistics again
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost,My_column
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.0
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818,0.0
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000,0.0
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000,0.0
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000,0.0
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000,0.0
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000,0.0
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810,0.0

In [147]:
# Display summary statistics for all columns
df.describe(include="all")

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
count,51290.00000,51290,51290,51290,51290,51290,51290,51290,51290,51290,...,51290,51290,51290,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290,51290.0
unique,NaN,25035,NaN,NaN,4,1590,795,3,3636,1094,...,3,17,3788,NaN,NaN,NaN,NaN,NaN,4,NaN
top,NaN,CA-2014-100111,NaN,NaN,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,...,Office Supplies,Binders,Staples,NaN,NaN,NaN,NaN,NaN,Medium,NaN
freq,NaN,14,NaN,NaN,30775,97,108,26518,915,2001,...,31273,6152,227,NaN,NaN,NaN,NaN,NaN,29433,NaN
mean,25645.50000,NaN,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,246.490581,3.476545,0.142908,28.610982,26.375818,NaN,0.0
min,1.00000,NaN,2011-01-01 00:00:00,2011-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000,0.002000,NaN,0.0
25%,12823.25000,NaN,2012-06-19 00:00:00,2012-06-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30.758625,2.000000,0.000000,0.000000,2.610000,NaN,0.0
50%,25645.50000,NaN,2013-07-08 00:00:00,2013-07-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,85.053000,3.000000,0.000000,9.240000,7.790000,NaN,0.0
75%,38467.75000,NaN,2014-05-22 00:00:00,2014-05-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,251.053200,5.000000,0.200000,36.810000,24.450000,NaN,0.0
max,51290.00000,NaN,2014-12-31 00:00:00,2015-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22638.480000,14.000000,0.850000,8399.976000,933.570000,NaN,0.0
std,14806.29199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,487.565361,2.278766,0.212280,174.340972,57.296810,NaN,0.0

In [148]:
# Filter rows where "Segment" is "Consumer"
df[df["Segment"]=="Consumer"]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.570,Critical,0
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.490,Medium,0
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.040,Critical,0
6,30570,IN-2011-81826,2011-11-07,2011-11-09,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.770,Critical,0
7,31192,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,...,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.380,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51277,37361,CA-2012-111780,2012-12-25,2012-12-30,Second Class,RA-19285,Ralph Arnett,Consumer,San Diego,California,...,Office Supplies,Paper,Great White Multi-Use Recycled Paper (20Lb. an...,17.940,3,0.0,8.0730,0.020,High,0
51278,43818,NI-2011-4700,2011-09-08,2011-09-10,Second Class,PO-8865,Patrick O'Donnell,Consumer,Lagos,Lagos,...,Office Supplies,Art,"Stanley Highlighters, Water Color",5.364,1,0.7,-6.4560,0.020,High,0
51281,6039,MX-2014-169530,2014-06-09,2014-06-11,First Class,HG-15025,Hunter Glantz,Consumer,Bragança Paulista,São Paulo,...,Office Supplies,Paper,"Green Bar Message Books, Multicolor",84.000,5,0.0,9.2000,0.019,High,0
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium,0
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High,0

In [149]:
# Modify the "Sub-Category" column of the 2nd row by appending "mychange"
df.loc[1,"Sub-Category"]=df.loc[1,"Sub-Category"]+"mychange"

In [150]:
# Access the modified value in the "Sub-Category" column of the 2nd row
df.loc[1,"Sub-Category"]

'Chairsmychange'

In [151]:
# Access the "Sub-Category" column for rows 1 to 3
df.loc[0:2,"Sub-Category"]

0       Accessories
1    Chairsmychange
2            Phones
Name: Sub-Category, dtype: object

In [152]:
# Access a specific value using iloc
df.iloc[1,16]

'Chairsmychange'

In [153]:
# Display all column names again
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority', 'My_column'],
      dtype='object')

In [154]:
# Access the "Profit" column from the first 5 rows
df.head()["Profit"]

0    762.1845
1   -288.7650
2    919.9710
3    -96.5400
4    311.5200
Name: Profit, dtype: float64

In [155]:
# Create a new DataFrame with "Postal Code" and "Order ID" columns
df_1=df[["Postal Code","Order ID"]]
# Create a new DataFrame with "Sales" and "Profit" columns
df_2=df[["Sales","Profit"]]

In [156]:
# Import pandas library for data manipulation and analysis
import pandas as pd

# Installing Excel python module

In [157]:
# Install the 'xlrd' library, required to read Excel files
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\samee\appdata\local\programs\python\python312\lib\site-packages (2.0.1)

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [158]:
# Display all column names in the DataFrame
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority', 'My_column'],
      dtype='object')

In [159]:
# Display the shape of the DataFrame (rows, columns)
df.shape

(51290, 25)

In [160]:
# Display the data types of all columns in the DataFrame
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
My_column                  int64
dtype: object

In [161]:
# Count and display the number of missing values in each column
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
My_column             0
dtype: int64

In [162]:
# Display summary statistics for numeric columns
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost,My_column
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.0
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818,0.0
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000,0.0
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000,0.0
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000,0.0
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000,0.0
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000,0.0
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810,0.0

In [163]:
# Display summary statistics for all columns, including non-numeric ones
df.describe(include='all')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
count,51290.00000,51290,51290,51290,51290,51290,51290,51290,51290,51290,...,51290,51290,51290,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290,51290.0
unique,NaN,25035,NaN,NaN,4,1590,795,3,3636,1094,...,3,18,3788,NaN,NaN,NaN,NaN,NaN,4,NaN
top,NaN,CA-2014-100111,NaN,NaN,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,...,Office Supplies,Binders,Staples,NaN,NaN,NaN,NaN,NaN,Medium,NaN
freq,NaN,14,NaN,NaN,30775,97,108,26518,915,2001,...,31273,6152,227,NaN,NaN,NaN,NaN,NaN,29433,NaN
mean,25645.50000,NaN,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,246.490581,3.476545,0.142908,28.610982,26.375818,NaN,0.0
min,1.00000,NaN,2011-01-01 00:00:00,2011-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000,0.002000,NaN,0.0
25%,12823.25000,NaN,2012-06-19 00:00:00,2012-06-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30.758625,2.000000,0.000000,0.000000,2.610000,NaN,0.0
50%,25645.50000,NaN,2013-07-08 00:00:00,2013-07-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,85.053000,3.000000,0.000000,9.240000,7.790000,NaN,0.0
75%,38467.75000,NaN,2014-05-22 00:00:00,2014-05-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,251.053200,5.000000,0.200000,36.810000,24.450000,NaN,0.0
max,51290.00000,NaN,2014-12-31 00:00:00,2015-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22638.480000,14.000000,0.850000,8399.976000,933.570000,NaN,0.0
std,14806.29199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,487.565361,2.278766,0.212280,174.340972,57.296810,NaN,0.0

In [164]:
# Select and display specific columns: 'Segment', 'City', 'State
df[["Segment","City","State"]]

           Segment           City            State
0         Consumer  New York City         New York
1        Corporate     Wollongong  New South Wales
2         Consumer       Brisbane       Queensland
3      Home Office         Berlin           Berlin
4         Consumer          Dakar            Dakar
...            ...            ...              ...
51285    Corporate           Kure        Hiroshima
51286     Consumer        Houston            Texas
51287  Home Office         Oxnard       California
51288  Home Office       Valinhos        São Paulo
51289     Consumer       Tipitapa          Managua

[51290 rows x 3 columns]

In [165]:
# Select and display specific columns: 'Order ID', 'Order Date', 'Ship Date'
df[["Order ID","Order Date" ,"Ship Date"]]

              Order ID Order Date  Ship Date
0       CA-2012-124891 2012-07-31 2012-07-31
1        IN-2013-77878 2013-02-05 2013-02-07
2        IN-2013-71249 2013-10-17 2013-10-18
3      ES-2013-1579342 2013-01-28 2013-01-30
4         SG-2013-4320 2013-11-05 2013-11-06
...                ...        ...        ...
51285    IN-2014-62366 2014-06-19 2014-06-19
51286   US-2014-102288 2014-06-20 2014-06-24
51287   US-2013-155768 2013-12-02 2013-12-02
51288   MX-2012-140767 2012-02-18 2012-02-22
51289   MX-2012-134460 2012-05-22 2012-05-26

[51290 rows x 3 columns]

In [166]:
# Select and display specific columns: 'Product ID', 'Product Name', 'Sales'
df[["Product ID","Product Name","Sales" ]]

,Product ID,Product Name,Sales
0,TEC-AC-10003033,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650
1,FUR-CH-10003950,"Novimex Executive Leather Armchair, Black",3709.395
2,TEC-PH-10004664,"Nokia Smart Phone, with Caller ID",5175.171
3,TEC-PH-10004583,"Motorola Smart Phone, Cordless",2892.510
4,TEC-SHA-10000501,"Sharp Wireless Fax, High-Speed",2832.960
...,...,...,...
51285,OFF-FA-10000746,"Advantus Thumb Tacks, 12 Pack",65.100
51286,OFF-AP-10002906,Hoover Replacement Belt for Commercial Guardsm...,0.444
51287,OFF-EN-10001219,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920
51288,OFF-BI-10000806,"Acco Index Tab, Economy",13.440
51289,OFF-PA-10004155,"Eaton Computer Printout Paper, 8.5 x 11",61.380

In [167]:
# Filter rows where Segment is 'Home Office' and City is 'Houston'
df[(df["Segment"]=="Home Office")&(df["City"]=="Houston")]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
2257,38749,CA-2014-105669,2014-09-18,2014-09-23,Second Class,SJ-20125,Sanjit Jacobs,Home Office,Houston,Texas,...,Technology,Phones,Polycom VoiceStation 500 Conference phone,1415.7600,6,0.20,88.4850,123.82,High,0
2935,41259,CA-2012-168088,2012-03-19,2012-03-22,First Class,CM-12655,Corinna Mitchell,Home Office,Houston,Texas,...,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,383.4656,4,0.32,-67.6704,101.49,Critical,0
5756,31421,US-2011-152030,2011-12-26,2011-12-28,Second Class,AD-10180,Alan Dominguez,Home Office,Houston,Texas,...,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,600.5580,3,0.30,-8.5794,58.54,High,0
8243,38747,CA-2014-105669,2014-09-18,2014-09-23,Second Class,SJ-20125,Sanjit Jacobs,Home Office,Houston,Texas,...,Furniture,Chairs,"Global Wood Trimmed Manager's Task Chair, Khaki",318.4300,5,0.30,-77.3330,41.02,High,0
8269,31337,CA-2012-117415,2012-12-27,2012-12-31,Standard Class,SN-20710,Steve Nguyen,Home Office,Houston,Texas,...,Technology,Phones,Plantronics HL10 Handset Lifter,371.1680,4,0.20,41.7564,40.88,Medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50397,34124,US-2011-112914,2011-09-25,2011-09-30,Standard Class,MT-18070,Michelle Tran,Home Office,Houston,Texas,...,Office Supplies,Envelopes,Poly String Tie Envelopes,3.2640,2,0.20,1.1016,0.29,Medium,0
50870,34123,US-2011-112914,2011-09-25,2011-09-30,Standard Class,MT-18070,Michelle Tran,Home Office,Houston,Texas,...,Office Supplies,Binders,Avery Self-Adhesive Photo Pockets for Polaroid...,2.7240,2,0.80,-4.3584,0.18,Medium,0
51027,35786,CA-2012-162621,2012-09-05,2012-09-11,Standard Class,CA-12055,Cathy Armstrong,Home Office,Houston,Texas,...,Office Supplies,Binders,Acco Four Pocket Poly Ring Binder with Label H...,4.4700,3,0.80,-7.8225,0.14,Medium,0
51036,40019,CA-2013-120824,2013-06-13,2013-06-17,Second Class,AW-10930,Arthur Wiediger,Home Office,Houston,Texas,...,Office Supplies,Binders,"Acco Pressboard Covers with Storage Hooks, 14 ...",1.5240,2,0.80,-2.6670,0.14,Medium,0
51192,38482,CA-2014-133102,2014-08-18,2014-08-25,Standard Class,ED-13885,Emily Ducich,Home Office,Houston,Texas,...,Office Supplies,Art,Avery Fluorescent Highlighter Four-Color Set,8.0160,3,0.20,1.0020,0.08,Medium,0

In [168]:
# Filter rows where Ship Mode is 'Standard Class' and City is 'Wollongong'
df[(df["Ship Mode"]=="Standard Class")&(df["City"]=="Wollongong")]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
511,31153,IN-2014-80286,2014-11-07,2014-11-11,Standard Class,CM-12445,Chuck Magee,Consumer,Wollongong,New South Wales,...,Furniture,Chairs,"Harbour Creations Executive Leather Armchair, ...",2841.660,6,0.0,852.480,287.24,High,0
610,21794,IN-2012-76408,2012-05-24,2012-05-28,Standard Class,DL-12925,Daniel Lacy,Consumer,Wollongong,New South Wales,...,Technology,Copiers,"Brother Copy Machine, Color",1641.087,7,0.1,473.907,261.52,High,0
2164,30647,IN-2013-85186,2013-11-26,2013-11-30,Standard Class,AG-10390,Allen Goldenen,Consumer,Wollongong,New South Wales,...,Technology,Copiers,"Brother Ink, Color",892.440,6,0.0,44.460,127.19,High,0
2190,30978,IN-2013-81504,2013-03-27,2013-04-01,Standard Class,AB-10600,Ann Blume,Corporate,Wollongong,New South Wales,...,Office Supplies,Appliances,"Breville Refrigerator, Black",2075.040,4,0.0,892.200,126.15,Medium,0
5185,24888,IN-2012-56682,2012-06-05,2012-06-09,Standard Class,KH-16330,Katharine Harms,Corporate,Wollongong,New South Wales,...,Technology,Copiers,"HP Copy Machine, Color",661.851,3,0.1,286.731,64.35,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44738,31089,IN-2011-83429,2011-09-16,2011-09-21,Standard Class,RC-19825,Roy Collins,Consumer,Wollongong,New South Wales,...,Office Supplies,Labels,"Novimex Legal Exhibit Labels, 5000 Label Set",21.720,2,0.0,10.860,1.28,Medium,0
45758,22756,IN-2012-12477,2012-09-24,2012-09-28,Standard Class,CC-12610,Corey Catlett,Corporate,Wollongong,New South Wales,...,Office Supplies,Binders,"Avery Binder, Economy",11.610,1,0.1,3.990,1.10,High,0
49680,29034,ID-2014-65754,2014-06-18,2014-06-22,Standard Class,JP-15520,Jeremy Pistek,Consumer,Wollongong,New South Wales,...,Office Supplies,Binders,"Ibico Binder Covers, Clear",23.598,2,0.1,2.598,0.42,Medium,0
50480,26188,ID-2014-23201,2014-01-31,2014-02-05,Standard Class,SG-20890,Susan Gilcrest,Corporate,Wollongong,New South Wales,...,Office Supplies,Binders,"Wilson Jones Index Tab, Durable",7.155,1,0.1,0.615,0.27,Medium,0
50563,30982,IN-2013-84654,2013-09-02,2013-09-09,Standard Class,SA-20830,Sue Ann Reed,Consumer,Wollongong,New South Wales,...,Office Supplies,Binders,"Wilson Jones Binder Covers, Economy",44.760,4,0.0,17.880,0.25,Medium,0

In [169]:
# Filter rows where Ship Mode is 'Standard Class' and City is 'New York City'
df[(df["Ship Mode"]=="Standard Class")&(df["City"]=="New York City")]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
121,37923,CA-2011-145541,2011-12-14,2011-12-21,Standard Class,TB-21400,Tom Boeckenhauer,Consumer,New York City,New York,...,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,6999.960,4,0.0,2239.9872,499.55,Medium,0
206,39211,CA-2014-165323,2014-06-18,2014-06-22,Standard Class,SR-20740,Steven Roelle,Home Office,New York City,New York,...,Technology,Machines,Hewlett-Packard Desktjet 6988DT Refurbished Pr...,3404.500,5,0.0,1668.2050,419.06,High,0
236,40567,US-2014-102183,2014-08-22,2014-08-29,Standard Class,PK-19075,Pete Kriz,Consumer,New York City,New York,...,Office Supplies,Binders,GBC DocuBind TL300 Electric Binding System,4305.552,6,0.2,1453.1238,398.64,Medium,0
518,33479,CA-2013-128818,2013-05-08,2013-05-12,Standard Class,CJ-12010,Caroline Jumper,Consumer,New York City,New York,...,Technology,Machines,Bady BDG101FRU Card Printer,3999.950,5,0.0,1159.9855,286.44,Medium,0
554,31615,CA-2011-164973,2011-11-04,2011-11-09,Standard Class,NM-18445,Nathan Mautz,Home Office,New York City,New York,...,Technology,Machines,Canon imageCLASS MF7460 Monochrome Digital Las...,3991.980,2,0.0,1995.9900,276.89,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51002,40974,CA-2013-144785,2013-04-19,2013-04-24,Standard Class,CS-12490,Cindy Schnelling,Corporate,New York City,New York,...,Office Supplies,Art,American Pencil,6.990,3,0.0,2.0271,0.15,Medium,0
51060,35119,CA-2014-141873,2014-10-10,2014-10-15,Standard Class,HG-14845,Harry Greene,Consumer,New York City,New York,...,Office Supplies,Binders,Durable Pressboard Binders,18.240,6,0.2,6.1560,0.13,Medium,0
51068,39813,CA-2013-132899,2013-04-08,2013-04-12,Standard Class,SF-20200,Sarah Foster,Consumer,New York City,New York,...,Office Supplies,Art,Newell 322,3.640,2,0.0,0.9828,0.13,Medium,0
51188,32788,CA-2014-166436,2014-11-25,2014-11-29,Standard Class,TS-21370,Todd Sumrall,Corporate,New York City,New York,...,Office Supplies,Paper,Adams Telephone Message Book W/Dividers/Space ...,5.880,1,0.0,2.8812,0.08,Medium,0
51211,38308,US-2011-135881,2011-05-23,2011-05-27,Standard Class,GT-14710,Greg Tran,Consumer,New York City,New York,...,Office Supplies,Supplies,Letter Slitter,5.040,2,0.0,0.1512,0.07,Medium,0

In [170]:
# Filter rows where Segment is 'Consumer' and Category is 'Technology'
df[(df["Segment"]=="Consumer")&(df["Category"]=="Technology") ]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical,0
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium,0
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical,0
12,45794,SA-2011-1830,2011-12-27,2011-12-29,Second Class,MM-7260,Magdelene Morse,Consumer,Jizan,Jizan,...,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.960,4,0.0,1151.4000,832.41,Critical,0
21,31784,CA-2011-154627,2011-10-29,2011-10-31,First Class,SA-20830,Sue Ann Reed,Consumer,Chicago,Illinois,...,Technology,Phones,Apple iPhone 5S,2735.952,6,0.2,341.9940,752.51,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50885,40460,CA-2012-164007,2012-06-08,2012-06-12,Standard Class,MG-17695,Maureen Gnade,Consumer,Chicago,Illinois,...,Technology,Accessories,Maxell 4.7GB DVD+R 5/Pack,2.376,3,0.2,0.7425,0.18,Medium,0
51007,44682,SO-2011-1410,2011-12-16,2011-12-21,Standard Class,CS-1860,Cari Schnelling,Consumer,Hargeysa,Woqooyi Galbeed,...,Technology,Accessories,"Memorex Mouse, Erganomic",25.980,1,0.0,1.0200,0.15,Medium,0
51095,45007,KZ-2011-7910,2011-07-20,2011-07-20,Same Day,MM-8055,Michelle Moray,Consumer,Pavlodar,Pavlodar,...,Technology,Accessories,"Logitech Memory Card, USB",31.077,1,0.7,-55.9530,0.12,Medium,0
51143,39197,CA-2014-128363,2014-08-14,2014-08-19,Standard Class,DC-12850,Dan Campbell,Consumer,Memphis,Tennessee,...,Technology,Accessories,Maxell 4.7GB DVD-R 5/Pack,1.584,2,0.2,0.4752,0.10,Medium,0
51178,47992,SU-2014-3390,2014-01-02,2014-01-06,Standard Class,JM-5250,Janet Martin,Consumer,Bur Sudan,Red Sea,...,Technology,Phones,"Motorola Audio Dock, VoIP",173.460,1,0.0,50.2800,0.09,Medium,0

In [171]:
# Filter rows where Profit > 1000 and Sales > 1000
df[(df["Profit"]>1000) & (df["Sales"]>1000)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
8,40155,CA-2014-135909,2014-10-14,2014-10-21,Standard Class,JW-15220,Jane Waco,Corporate,Sacramento,California,...,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.96,5,0.2,1906.4850,867.69000,Low,0
12,45794,SA-2011-1830,2011-12-27,2011-12-29,Second Class,MM-7260,Magdelene Morse,Consumer,Jizan,Jizan,...,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.96,4,0.0,1151.4000,832.41000,Critical,0
14,27704,IN-2013-73951,2013-06-06,2013-06-08,Second Class,PF-19120,Peter Fuller,Consumer,Mudanjiang,Heilongjiang,...,Office Supplies,Appliances,"KitchenAid Microwave, White",3701.52,12,0.0,1036.0800,804.54000,Critical,0
17,12069,ES-2014-1651774,2014-09-08,2014-09-14,Standard Class,PJ-18835,Patrick Jones,Corporate,Prato,Tuscany,...,Office Supplies,Appliances,"Hoover Stove, Red",7958.58,14,0.0,3979.0800,778.32000,Low,0
23,13528,ES-2013-2860574,2013-02-27,2013-03-01,Second Class,LB-16795,Laurel Beltran,Home Office,Edinburgh,Scotland,...,Office Supplies,Appliances,"KitchenAid Refrigerator, Black",5273.70,10,0.0,1898.4000,730.91000,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13013,23447,IN-2011-77892,2011-04-02,2011-04-08,Standard Class,HL-15040,Hunter Lopez,Consumer,Rajshahi,Rajshahi,...,Technology,Phones,"Samsung Smart Phone, Cordless",3195.00,5,0.0,1150.2000,23.95000,Medium,0
14843,39450,CA-2014-140151,2014-03-24,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,Seattle,Washington,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.9808,20.00054,Medium,0
16062,39785,CA-2013-158841,2013-02-02,2013-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,Arlington,Virginia,...,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.95,5,0.0,2799.9840,17.83000,Critical,0
19307,21850,IN-2011-50060,2011-09-06,2011-09-13,Standard Class,MC-17575,Matt Collins,Consumer,Yancheng,Jiangsu,...,Furniture,Bookcases,"Dania Classic Bookcase, Pine",2472.66,6,0.0,1038.4200,13.25000,Medium,0
39564,12383,ES-2012-5671193,2012-05-29,2012-05-29,Same Day,MG-18145,Mike Gockenbach,Consumer,Luton,England,...,Technology,Phones,"Nokia Smart Phone, Full Size",5724.54,9,0.0,2461.3200,2.34000,Medium,0

# Making queries on complete dataframe

In [172]:
# Query rows where Profit > 1000 and Discount < 0.2
df.query('Profit > 1000 & Discount <0.2')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
12,45794,SA-2011-1830,2011-12-27,2011-12-29,Second Class,MM-7260,Magdelene Morse,Consumer,Jizan,Jizan,...,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.960,4,0.0,1151.4000,832.41000,Critical,0
14,27704,IN-2013-73951,2013-06-06,2013-06-08,Second Class,PF-19120,Peter Fuller,Consumer,Mudanjiang,Heilongjiang,...,Office Supplies,Appliances,"KitchenAid Microwave, White",3701.520,12,0.0,1036.0800,804.54000,Critical,0
17,12069,ES-2014-1651774,2014-09-08,2014-09-14,Standard Class,PJ-18835,Patrick Jones,Corporate,Prato,Tuscany,...,Office Supplies,Appliances,"Hoover Stove, Red",7958.580,14,0.0,3979.0800,778.32000,Low,0
23,13528,ES-2013-2860574,2013-02-27,2013-03-01,Second Class,LB-16795,Laurel Beltran,Home Office,Edinburgh,Scotland,...,Office Supplies,Appliances,"KitchenAid Refrigerator, Black",5273.700,10,0.0,1898.4000,730.91000,High,0
27,11645,ES-2011-4699764,2011-03-14,2011-03-17,Second Class,EB-14110,Eugene Barchas,Consumer,Leipzig,Saxony,...,Office Supplies,Appliances,"Hoover Stove, Red",3069.738,6,0.1,1364.2380,725.34000,Critical,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13013,23447,IN-2011-77892,2011-04-02,2011-04-08,Standard Class,HL-15040,Hunter Lopez,Consumer,Rajshahi,Rajshahi,...,Technology,Phones,"Samsung Smart Phone, Cordless",3195.000,5,0.0,1150.2000,23.95000,Medium,0
14843,39450,CA-2014-140151,2014-03-24,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,Seattle,Washington,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,20.00054,Medium,0
16062,39785,CA-2013-158841,2013-02-02,2013-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,Arlington,Virginia,...,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.0,2799.9840,17.83000,Critical,0
19307,21850,IN-2011-50060,2011-09-06,2011-09-13,Standard Class,MC-17575,Matt Collins,Consumer,Yancheng,Jiangsu,...,Furniture,Bookcases,"Dania Classic Bookcase, Pine",2472.660,6,0.0,1038.4200,13.25000,Medium,0
39564,12383,ES-2012-5671193,2012-05-29,2012-05-29,Same Day,MG-18145,Mike Gockenbach,Consumer,Luton,England,...,Technology,Phones,"Nokia Smart Phone, Full Size",5724.540,9,0.0,2461.3200,2.34000,Medium,0

In [173]:
# Query rows where Profit < 1000, Discount < 0.4, and Segment is 'Corporate'
df.query('Profit < 1000 & Discount <0.4 & Segment =="Corporate"')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,Furniture,Chairsmychange,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,0
5,22732,IN-2013-42360,2013-06-28,2013-07-01,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,897.35,Critical,0
10,34577,CA-2011-102988,2011-04-05,2011-04-09,Second Class,GM-14695,Greg Maxwell,Corporate,Alexandria,Virginia,...,Office Supplies,Supplies,Martin Yale Chadless Opener Electric Letter Op...,4164.050,5,0.0,83.2810,846.54,High,0
11,28879,ID-2012-28402,2012-04-19,2012-04-22,First Class,AJ-10780,Anthony Jacobs,Corporate,Kabul,Kabul,...,Furniture,Tables,"Bevis Conference Table, Fully Assembled",4626.150,5,0.0,647.5500,835.57,High,0
15,13779,ES-2014-5099955,2014-07-31,2014-08-03,Second Class,BP-11185,Ben Peterman,Corporate,Paris,Ile-de-France,...,Office Supplies,Appliances,"Breville Refrigerator, Red",1869.588,4,0.1,186.9480,801.66,Critical,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51260,40079,CA-2013-116911,2013-09-16,2013-09-21,Standard Class,JD-16150,Justin Deggeller,Corporate,Twin Falls,Idaho,...,Office Supplies,Binders,Avery Heavy-Duty EZD View Binder with Locking ...,20.416,4,0.2,6.6352,0.04,Medium,0
51266,22589,IN-2014-32000,2014-11-25,2014-11-30,Standard Class,AO-10810,Anthony O'Donnell,Corporate,Perth,Western Australia,...,Office Supplies,Envelopes,"GlobeWeis Manila Envelope, Recycled",47.142,2,0.1,8.8620,0.03,Medium,0
51275,10410,ES-2011-1406120,2011-12-03,2011-12-03,Same Day,LR-17035,Lisa Ryan,Corporate,Hamburg,Hamburg,...,Office Supplies,Binders,"Acco Binding Machine, Durable",52.590,1,0.0,12.6000,0.02,Medium,0
51283,24105,IN-2014-72327,2014-05-30,2014-05-30,Same Day,KH-16330,Katharine Harms,Corporate,Lucknow,Uttar Pradesh,...,Office Supplies,Paper,"Eaton Parchment Paper, Premium",26.940,2,0.0,1.8600,0.01,High,0
51285,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.01,Medium,0

In [174]:
# Query rows where Profit > 1000, Discount < 0.2, and Segment is 'Consumer'
df.query('Profit > 1000 & Discount <0.2 & Segment =="Consumer"')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
12,45794,SA-2011-1830,2011-12-27,2011-12-29,Second Class,MM-7260,Magdelene Morse,Consumer,Jizan,Jizan,...,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.960,4,0.0,1151.4000,832.41000,Critical,0
14,27704,IN-2013-73951,2013-06-06,2013-06-08,Second Class,PF-19120,Peter Fuller,Consumer,Mudanjiang,Heilongjiang,...,Office Supplies,Appliances,"KitchenAid Microwave, White",3701.520,12,0.0,1036.0800,804.54000,Critical,0
27,11645,ES-2011-4699764,2011-03-14,2011-03-17,Second Class,EB-14110,Eugene Barchas,Consumer,Leipzig,Saxony,...,Office Supplies,Appliances,"Hoover Stove, Red",3069.738,6,0.1,1364.2380,725.34000,Critical,0
36,36423,CA-2011-160766,2011-09-14,2011-09-14,Same Day,DM-13015,Darrin Martin,Consumer,New York City,New York,...,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,2799.960,4,0.0,1371.9804,675.15000,High,0
38,15380,ES-2014-2637201,2014-01-14,2014-01-18,Standard Class,PO-18865,Patrick O'Donnell,Consumer,Stockton-on-Tees,England,...,Technology,Copiers,"Brother Fax Machine, Laser",4141.020,13,0.0,1697.6700,668.96000,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13013,23447,IN-2011-77892,2011-04-02,2011-04-08,Standard Class,HL-15040,Hunter Lopez,Consumer,Rajshahi,Rajshahi,...,Technology,Phones,"Samsung Smart Phone, Cordless",3195.000,5,0.0,1150.2000,23.95000,Medium,0
14843,39450,CA-2014-140151,2014-03-24,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,Seattle,Washington,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,20.00054,Medium,0
16062,39785,CA-2013-158841,2013-02-02,2013-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,Arlington,Virginia,...,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.0,2799.9840,17.83000,Critical,0
19307,21850,IN-2011-50060,2011-09-06,2011-09-13,Standard Class,MC-17575,Matt Collins,Consumer,Yancheng,Jiangsu,...,Furniture,Bookcases,"Dania Classic Bookcase, Pine",2472.660,6,0.0,1038.4200,13.25000,Medium,0
39564,12383,ES-2012-5671193,2012-05-29,2012-05-29,Same Day,MG-18145,Mike Gockenbach,Consumer,Luton,England,...,Technology,Phones,"Nokia Smart Phone, Full Size",5724.540,9,0.0,2461.3200,2.34000,Medium,0

In [175]:
# Query rows where Profit > 1000, Discount < 0.2, and Segment is 'Home Office
df.query('Profit > 1000 & Discount <0.2 & Segment =="Home Office"')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
23,13528,ES-2013-2860574,2013-02-27,2013-03-01,Second Class,LB-16795,Laurel Beltran,Home Office,Edinburgh,Scotland,...,Office Supplies,Appliances,"KitchenAid Refrigerator, Black",5273.700,10,0.0,1898.4000,730.91,High,0
78,24443,IN-2011-62506,2011-11-09,2011-11-11,Second Class,SZ-20035,Sam Zeldin,Home Office,Nanchong,Sichuan,...,Technology,Copiers,"Sharp Wireless Fax, Digital",3200.040,9,0.0,1183.9500,576.71,Medium,0
187,29269,IN-2014-37320,2014-11-11,2014-11-15,Standard Class,BF-11005,Barry Franz,Home Office,Gorakhpur,Haryana,...,Office Supplies,Appliances,"Breville Refrigerator, White",3622.290,7,0.0,1267.7700,438.89,High,0
198,20861,IN-2011-64326,2011-06-07,2011-06-11,Second Class,DR-12940,Daniel Raglin,Home Office,Townsville,Queensland,...,Office Supplies,Appliances,"KitchenAid Stove, Silver",4624.290,9,0.1,1644.0300,427.46,Medium,0
206,39211,CA-2014-165323,2014-06-18,2014-06-22,Standard Class,SR-20740,Steven Roelle,Home Office,New York City,New York,...,Technology,Machines,Hewlett-Packard Desktjet 6988DT Refurbished Pr...,3404.500,5,0.0,1668.2050,419.06,High,0
249,50593,EG-2013-4530,2013-02-05,2013-02-07,Second Class,MT-8070,Michelle Tran,Home Office,Girga,Suhaj,...,Furniture,Bookcases,"Sauder Classic Bookcase, Traditional",2615.940,6,0.0,1072.4400,384.41,Critical,0
420,29593,IN-2014-10979,2014-10-31,2014-11-04,Standard Class,MO-17800,Meg O'Connel,Home Office,Hamamatsu,Shizuoka,...,Office Supplies,Appliances,"Cuisinart Stove, Red",4306.320,8,0.0,1722.4800,314.15,Medium,0
461,27407,IN-2011-35178,2011-11-11,2011-11-15,Standard Class,Dp-13240,Dean percer,Home Office,Suzhou,Gansu,...,Technology,Phones,"Nokia Smart Phone, Cordless",5725.350,9,0.0,1602.9900,302.61,Medium,0
489,50773,CA-2013-1260,2013-08-24,2013-08-26,Second Class,DW-3480,Dianna Wilson,Home Office,Guelph,Ontario,...,Technology,Copiers,"Hewlett Wireless Fax, High-Speed",2270.340,6,0.0,1112.4000,294.25,Medium,0
554,31615,CA-2011-164973,2011-11-04,2011-11-09,Standard Class,NM-18445,Nathan Mautz,Home Office,New York City,New York,...,Technology,Machines,Canon imageCLASS MF7460 Monochrome Digital Las...,3991.980,2,0.0,1995.9900,276.89,High,0
642,30958,IN-2013-83191,2013-12-16,2013-12-20,Standard Class,AS-10630,Ann Steele,Home Office,Whakatane,Bay of Plenty,...,Technology,Phones,"Motorola Smart Phone, Full Size",6439.800,10,0.0,2447.1000,255.36,Medium,0
650,38963,US-2013-140158,2013-10-05,2013-10-09,Standard Class,DR-12940,Daniel Raglin,Home Office,Providence,Rhode Island,...,Technology,Copiers,Hewlett Packard LaserJet 3310 Copier,5399.910,9,0.0,2591.9568,254.03,Medium,0
1380,22836,IN-2014-15263,2014-09-29,2014-10-03,Standard Class,BE-11335,Bill Eplett,Home Office,Liaocheng,Shandong,...,Technology,Copiers,"HP Fax and Copier, Digital",2415.420,14,0.0,1134.8400,169.57,Medium,0
1410,12506,ES-2014-4262012,2014-12-19,2014-12-25,Standard Class,AT-10435,Alyssa Tate,Home Office,Seville,Andalusía,...,Technology,Phones,"Motorola Smart Phone, Full Size",4627.368,8,0.1,1439.4480,166.71,Medium,0
1736,44850,EG-2014-5430,2014-11-27,2014-12-03,Standard Class,CR-2580,Clay Rozendal,Home Office,Alexandria,Al Iskandariyah,...,Furniture,Tables,"Hon Training Table, Adjustable Height",2679.120,8,0.0,1098.2400,147.34,Medium,0
2323,31812,CA-2014-127432,2014-01-23,2014-01-28,Standard Class,AD-10180,Alan Dominguez,Home Office,Great Falls,Montana,...,Technology,Copiers,Canon Image Class D660 Copier,2999.950,5,0.0,1379.9770,121.36,Medium,0
2355,28205,IN-2014-73447,2014-08-20,2014-08-25,Standard Class,RB-19705,Roger Barcio,Home Office,Jilin,Jilin,...,Technology,Phones,"Samsung Smart Phone, VoIP",2544.960,4,0.0,1068.8400,119.73,Medium,0
2888,38980,CA-2012-120782,2012-04-28,2012-05-01,First Class,SD-20485,Shirley Daniels,Home Office,Midland,Michigan,...,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,3812.970,3,0.0,1906.4850,102.76,Medium,0
3311,36303,CA-2012-169796,2012-11-09,2012-11-14,Standard Class,Dp-13240,Dean percer,Home Office,New York City,New York,...,Technology,Machines,Zebra ZM400 Thermal Label Printer,2321.900,2,0.0,1114.5120,92.20,High,0

In [176]:

# Query rows where Profit > 1000, Discount < 0.2, and Segment is either 'Consumer' or 'Corporate'
df.query('Profit > 1000 & Discount <0.2 & Segment in ["Consumer","Corporate"]')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column
12,45794,SA-2011-1830,2011-12-27,2011-12-29,Second Class,MM-7260,Magdelene Morse,Consumer,Jizan,Jizan,...,Technology,Phones,"Cisco Smart Phone, with Caller ID",2616.960,4,0.0,1151.4000,832.41000,Critical,0
14,27704,IN-2013-73951,2013-06-06,2013-06-08,Second Class,PF-19120,Peter Fuller,Consumer,Mudanjiang,Heilongjiang,...,Office Supplies,Appliances,"KitchenAid Microwave, White",3701.520,12,0.0,1036.0800,804.54000,Critical,0
17,12069,ES-2014-1651774,2014-09-08,2014-09-14,Standard Class,PJ-18835,Patrick Jones,Corporate,Prato,Tuscany,...,Office Supplies,Appliances,"Hoover Stove, Red",7958.580,14,0.0,3979.0800,778.32000,Low,0
27,11645,ES-2011-4699764,2011-03-14,2011-03-17,Second Class,EB-14110,Eugene Barchas,Consumer,Leipzig,Saxony,...,Office Supplies,Appliances,"Hoover Stove, Red",3069.738,6,0.1,1364.2380,725.34000,Critical,0
35,47905,CG-2011-8610,2011-09-14,2011-09-15,First Class,AH-30,Aaron Hawkins,Corporate,Kamina,Katanga,...,Technology,Phones,"Apple Smart Phone, Full Size",3817.260,6,0.0,1068.6600,678.15000,High,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13013,23447,IN-2011-77892,2011-04-02,2011-04-08,Standard Class,HL-15040,Hunter Lopez,Consumer,Rajshahi,Rajshahi,...,Technology,Phones,"Samsung Smart Phone, Cordless",3195.000,5,0.0,1150.2000,23.95000,Medium,0
14843,39450,CA-2014-140151,2014-03-24,2014-03-26,First Class,RB-19360,Raymond Buch,Consumer,Seattle,Washington,...,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808,20.00054,Medium,0
16062,39785,CA-2013-158841,2013-02-02,2013-02-04,Second Class,SE-20110,Sanjit Engle,Consumer,Arlington,Virginia,...,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.0,2799.9840,17.83000,Critical,0
19307,21850,IN-2011-50060,2011-09-06,2011-09-13,Standard Class,MC-17575,Matt Collins,Consumer,Yancheng,Jiangsu,...,Furniture,Bookcases,"Dania Classic Bookcase, Pine",2472.660,6,0.0,1038.4200,13.25000,Medium,0
39564,12383,ES-2012-5671193,2012-05-29,2012-05-29,Same Day,MG-18145,Mike Gockenbach,Consumer,Luton,England,...,Technology,Phones,"Nokia Smart Phone, Full Size",5724.540,9,0.0,2461.3200,2.34000,Medium,0

In [177]:
# Create a new column 'New_col' initialized with an empty string
df["New_col"]=""
# Loop through each row and assign the value of 'Profit' * 2 to 'New_col'
for i1 in list(range(df.shape[0])):
     df.loc[i1,"New_col"]=df.loc[i1,"Profit"]*2

# Applying a function on complete columns

In [178]:
# Overwrite 'Profit' column by concatenating 'City' and 'Segment'
df['Profit'] = df.apply(lambda row: row['City'] + row['Segment'], axis=1)

In [179]:
# Display the modified 'Profit' column
df['Profit']

0        New York CityConsumer
1          WollongongCorporate
2             BrisbaneConsumer
3            BerlinHome Office
4                DakarConsumer
                 ...
51285            KureCorporate
51286          HoustonConsumer
51287        OxnardHome Office
51288      ValinhosHome Office
51289         TipitapaConsumer
Name: Profit, Length: 51290, dtype: object

In [180]:

# Display the first 5 rows of the DataFrame
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column,New_col
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,New York CityConsumer,933.57,Critical,0,1524.369
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,Chairsmychange,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,WollongongCorporate,923.63,Critical,0,-577.53
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,BrisbaneConsumer,915.49,Medium,0,1839.942
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,BerlinHome Office,910.16,Medium,0,-193.08
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,DakarConsumer,903.04,Critical,0,623.04

In [181]:

# Display the last 5 rows of the DataFrame
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column,New_col
51285,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,KureCorporate,0.010,Medium,0,9.0
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,HoustonConsumer,0.010,Medium,0,-2.22
51287,40470,US-2013-155768,2013-12-02,2013-12-02,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,OxnardHome Office,0.010,High,0,22.4616
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,Binders,"Acco Index Tab, Economy",13.440,2,0.0,ValinhosHome Office,0.003,Medium,0,4.8
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,TipitapaConsumer,0.002,High,0,3.6

In [182]:
# Create a new column 'Actual Cost' as Sales + Shipping Cost
df['Actual Cost'] = df.apply(lambda row: row['Sales'] + row['Shipping Cost'], axis=1)

In [183]:
# Create a new column 'Actual Cost 1' as Sales - Shipping Cost + (Sales * Discount)
df['Actual Cost 1'] = df.apply(lambda row: row['Sales'] - row['Shipping Cost'] + row['Sales']*row['Discount'], axis=1)

In [184]:
# Display the first 5 rows again
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column,New_col,Actual Cost,Actual Cost 1
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,2309.650,7,0.0,New York CityConsumer,933.57,Critical,0,1524.369,3243.220,1376.0800
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,3709.395,9,0.1,WollongongCorporate,923.63,Critical,0,-577.53,4633.025,3156.7045
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,5175.171,9,0.1,BrisbaneConsumer,915.49,Medium,0,1839.942,6090.661,4777.1981
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,2892.510,5,0.1,BerlinHome Office,910.16,Medium,0,-193.08,3802.670,2271.6010
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,2832.960,8,0.0,DakarConsumer,903.04,Critical,0,623.04,3736.000,1929.9200

In [185]:
# Display the last 5 rows again
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column,New_col,Actual Cost,Actual Cost 1
51285,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,65.100,5,0.0,KureCorporate,0.010,Medium,0,9.0,65.110,65.0900
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,0.444,1,0.8,HoustonConsumer,0.010,Medium,0,-2.22,0.454,0.7892
51287,40470,US-2013-155768,2013-12-02,2013-12-02,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,22.920,3,0.0,OxnardHome Office,0.010,High,0,22.4616,22.930,22.9100
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,13.440,2,0.0,ValinhosHome Office,0.003,Medium,0,4.8,13.443,13.4370
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,61.380,3,0.0,TipitapaConsumer,0.002,High,0,3.6,61.382,61.3780

In [186]:

# Display the first 10 rows of the DataFrame
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column,New_col,Actual Cost,Actual Cost 1
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,2309.650,7,0.0,New York CityConsumer,933.57,Critical,0,1524.369,3243.220,1376.0800
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,3709.395,9,0.1,WollongongCorporate,923.63,Critical,0,-577.53,4633.025,3156.7045
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,5175.171,9,0.1,BrisbaneConsumer,915.49,Medium,0,1839.942,6090.661,4777.1981
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,2892.510,5,0.1,BerlinHome Office,910.16,Medium,0,-193.08,3802.670,2271.6010
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,2832.960,8,0.0,DakarConsumer,903.04,Critical,0,623.04,3736.000,1929.9200
5,22732,IN-2013-42360,2013-06-28,2013-07-01,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,2862.675,5,0.1,SydneyCorporate,897.35,Critical,0,1526.55,3760.025,2251.5925
6,30570,IN-2011-81826,2011-11-07,2011-11-09,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,1822.080,4,0.0,PoriruaConsumer,894.77,Critical,0,1129.68,2716.850,927.3100
7,31192,IN-2012-86369,2012-04-14,2012-04-18,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,...,5244.840,6,0.0,HamiltonConsumer,878.38,High,0,1992.96,6123.220,4366.4600
8,40155,CA-2014-135909,2014-10-14,2014-10-21,Standard Class,JW-15220,Jane Waco,Corporate,Sacramento,California,...,5083.960,5,0.2,SacramentoCorporate,867.69,Low,0,3812.97,5951.650,5233.0620
9,40936,CA-2012-116638,2012-01-28,2012-01-31,Second Class,JH-15985,Joseph Holt,Consumer,Concord,North Carolina,...,4297.644,13,0.4,ConcordConsumer,865.74,Critical,0,-3724.6248,5163.384,5150.9616

# group by

In [187]:

# Group data by 'City' and find the minimum sales for each city
df.groupby('City')['Sales'].min()

City
Aachen                     9.540
Aalen                    979.695
Aalst                     64.080
Aba                        3.375
Abadan                     9.270
                          ...
Zwedru                    49.410
Zwickau                   21.420
Zwolle                     5.595
eMbalenhle                16.800
Águas Lindas de Goiás     14.600
Name: Sales, Length: 3636, dtype: float64

In [188]:
# Group data by 'City' and find the maximum sales for each city
df.groupby('City')['Sales'].max()

City
Aachen                   1309.203
Aalen                     979.695
Aalst                     138.690
Aba                       196.272
Abadan                    642.060
                           ...
Zwedru                     49.410
Zwickau                    39.330
Zwolle                    144.990
eMbalenhle                 59.100
Águas Lindas de Goiás     110.480
Name: Sales, Length: 3636, dtype: float64

In [189]:
# Group data by 'State' and find the minimum sales for each state
df.groupby('State')['Sales'].min()

State
'Ajman       6.426
'Amman       6.780
'Asir       13.380
Abia         3.375
Abruzzi     35.520
             ...
Zinder      23.250
Zulia        1.956
Zürich      17.880
Šiauliai     7.911
Žilina      28.980
Name: Sales, Length: 1094, dtype: float64

In [190]:
# Display all columns' summary statistics again
df.describe(include='all')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,My_column,New_col,Actual Cost,Actual Cost 1
count,51290.00000,51290,51290,51290,51290,51290,51290,51290,51290,51290,...,51290.000000,51290.000000,51290.000000,51290,51290.000000,51290,51290.0,51290.0,51290.000000,51290.000000
unique,NaN,25035,NaN,NaN,4,1590,795,3,3636,1094,...,NaN,NaN,NaN,7045,NaN,4,NaN,28234.0,NaN,NaN
top,NaN,CA-2014-100111,NaN,NaN,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,...,NaN,NaN,NaN,New York CityConsumer,NaN,Medium,NaN,0.0,NaN,NaN
freq,NaN,14,NaN,NaN,30775,97,108,26518,915,2001,...,NaN,NaN,NaN,504,NaN,29433,NaN,668.0,NaN,NaN
mean,25645.50000,NaN,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,NaN,NaN,NaN,NaN,NaN,NaN,...,246.490581,3.476545,0.142908,NaN,26.375818,NaN,0.0,NaN,272.866399,246.364559
min,1.00000,NaN,2011-01-01 00:00:00,2011-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,0.444000,1.000000,0.000000,NaN,0.002000,NaN,0.0,NaN,0.454000,0.789200
25%,12823.25000,NaN,2012-06-19 00:00:00,2012-06-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,30.758625,2.000000,0.000000,NaN,2.610000,NaN,0.0,NaN,34.020500,31.040000
50%,25645.50000,NaN,2013-07-08 00:00:00,2013-07-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,85.053000,3.000000,0.000000,NaN,7.790000,NaN,0.0,NaN,94.210250,85.282750
75%,38467.75000,NaN,2014-05-22 00:00:00,2014-05-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,251.053200,5.000000,0.200000,NaN,24.450000,NaN,0.0,NaN,278.813000,250.978900
max,51290.00000,NaN,2014-12-31 00:00:00,2015-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,22638.480000,14.000000,0.850000,NaN,933.570000,NaN,0.0,NaN,22662.766500,33933.433500
std,14806.29199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,487.565361,2.278766,0.212280,NaN,57.296810,NaN,0.0,NaN,532.838230,501.898257

In [191]:
# Group data by 'City' and calculate the sum of profits for each city
df.groupby('City')['Profit'].sum()

City
Aachen                   AachenConsumerAachenConsumerAachenConsumerAach...
Aalen                                                        AalenConsumer
Aalst                    AalstCorporateAalstCorporateAalstCorporateAals...
Aba                      AbaCorporateAbaConsumerAbaCorporateAbaConsumer...
Abadan                   AbadanCorporateAbadanConsumerAbadanHome Office...
                                               ...
Zwedru                                                      ZwedruConsumer
Zwickau                  ZwickauCorporateZwickauHome OfficeZwickauCorpo...
Zwolle                                       ZwolleCorporateZwolleConsumer
eMbalenhle                          eMbalenhleCorporateeMbalenhleCorporate
Águas Lindas de Goiás    Águas Lindas de GoiásConsumerÁguas Lindas de G...
Name: Profit, Length: 3636, dtype: object

In [192]:
# Group data by 'Segment' and calculate the sum of profits for each segment
df.groupby('Segment')['Profit'].sum()

Segment
Consumer       New York CityConsumerBrisbaneConsumerDakarCons...
Corporate      WollongongCorporateSydneyCorporateSacramentoCo...
Home Office    BerlinHome OfficeToledoHome OfficeEdinburghHom...
Name: Profit, dtype: object

# Making Bins

In [193]:
# Create a 'Sales Group' column categorizing sales into bins
df['Sales Group'] = pd.cut(df['Sales'], bins=[0, 500, 1000, 10000], labels=['Low', 'Medium', 'High'])

In [194]:
# Displays the 'Sales Group' values
df['Sales Group']

0        High
1        High
2        High
3        High
4        High
         ...
51285     Low
51286     Low
51287     Low
51288     Low
51289     Low
Name: Sales Group, Length: 51290, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [195]:
# Display the unique values in 'Sales Group'
df['Sales Group'].unique()

['High', 'Medium', NaN, 'Low']
Categories (3, object): ['Low' < 'Medium' < 'High']

In [196]:
# Convert 'Profit' to numeric, replacing invalid values with NaN
df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce')

In [197]:
# Create a 'Profit Group' column categorizing profits into bins
df['Profit Group'] = pd.cut(df['Profit'], bins=[0, 500, 1000, 10000], labels=['Low', 'Medium', 'High'])

In [198]:

# Display the  values in 'Profit Group'
df['Profit Group']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
51285    NaN
51286    NaN
51287    NaN
51288    NaN
51289    NaN
Name: Profit Group, Length: 51290, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [199]:

# Display the unique values in 'Profit Group'
df['Profit Group'].unique()

[NaN]
Categories (3, object): ['Low' < 'Medium' < 'High']

In [200]:
# Create a new 'Sales Group' with different bins
df['Sales Group'] = pd.cut(df['Sales'], bins=[0, 0.25, 0.5, 1], labels=['Low', 'Medium', 'High'])

In [201]:
# Display the  values in the modified 'Sales Group'
df['Sales Group']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
51285       NaN
51286    Medium
51287       NaN
51288       NaN
51289       NaN
Name: Sales Group, Length: 51290, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [202]:
# Display the unique values in the modified 'Sales Group'
df['Sales Group'].unique()

[NaN, 'High', 'Medium']
Categories (3, object): ['Low' < 'Medium' < 'High']

In [203]:
# Create a 'Discount Group' column categorizing discounts into bins
df['Discount Group'] = pd.cut(df['Discount'], bins=[0, 0.25, 0.5, 1], labels=['Low', 'Medium', 'High'])

In [204]:
# Display the unique values in 'Discount Group'
df['Discount Group']

0         NaN
1         Low
2         Low
3         Low
4         NaN
         ...
51285     NaN
51286    High
51287     NaN
51288     NaN
51289     NaN
Name: Discount Group, Length: 51290, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [205]:
# Display the unique values in 'Discount Group'
df['Discount Group'].unique()

[NaN, 'Low', 'Medium', 'High']
Categories (3, object): ['Low' < 'Medium' < 'High']

# Checking null values in the dataset

In [206]:
# Count the number of missing values in each column again
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit            51290
Shipping Cost         0
Order Priority        0
My_column             0
New_col               0
Actual Cost           0
Actual Cost 1         0
Sales Group       51282
Profit Group      51290
Discount Group    29009
dtype: int64

In [207]:
# 1. City with minimum profit
city_min_profit = df.groupby('City')['Profit'].sum().idxmin()
print("City with minimum profit:", city_min_profit)

City with minimum profit: Aachen

In [208]:
# 2. State with maximum profit
state_max_profit = df.groupby('State')['Profit'].sum().idxmax()
print ("State with minimum profit:",state_max_profit )

State with minimum profit: 'Ajman

In [209]:
# 3. Segment with maximum sales
segment_max_sales = df.groupby('Segment')['Sales'].sum().idxmax()
print("Segment with maximum sales:",segment_max_sales )

Segment with maximum sales: Consumer

In [210]:
# 4. Most repetitive customer
most_repetitive_customer = df['Customer Name'].value_counts().idxmax()
print("Most repetitive customer:",most_repetitive_customer)

Most repetitive customer: Muhammed Yedwab

In [211]:
# 5. Country with minimum shipping cost
country_min_shipping_cost = df.groupby('Country')['Shipping Cost'].sum().idxmin()
print("Country with minimum shipping cost:",country_min_shipping_cost)

Country with minimum shipping cost: Eritrea

In [212]:
# 6. Segment with maximum shipping cost
segment_max_shipping_cost = df.groupby('Segment')['Shipping Cost'].sum().idxmax()
print("Segment with maximum shipping cost:",segment_max_shipping_cost)

Segment with maximum shipping cost: Consumer

In [213]:
# 7. Number of distinct categories
distinct_categories = df['Category'].nunique()
print("Number of distinct categories:",distinct_categories )

Number of distinct categories: 3

In [214]:
# 8. Number of subcategories per category
subcategories_per_category = df.groupby('Category')['Sub-Category'].nunique()
print("Number of subcategories per category:",subcategories_per_category )

Number of subcategories per category: Category
Furniture          5
Office Supplies    9
Technology         4
Name: Sub-Category, dtype: int64

In [215]:
# 9. Number of regions
distinct_regions = df['Region'].nunique()
print("Number of regions:",distinct_regions )

Number of regions: 13

In [216]:
# 10. Region with the most profit
region_max_profit = df.groupby('Region')['Profit'].sum().idxmax()
print("Region with the most profit:",region_max_profit)

Region with the most profit: Africa

In [217]:
# 11. Region with the highest shipment cost
region_max_shipping_cost = df.groupby('Region')['Shipping Cost'].sum().idxmax()
print("Region with the highest shipment cost:",region_max_shipping_cost)

Region with the highest shipment cost: Central

In [218]:
# 12. Market with minimum sales
market_min_sales = df.groupby('Market')['Sales'].sum().idxmin()
print("Market with minimum sales:",market_min_sales)

Market with minimum sales: Canada

In [219]:
# 13. Market with maximum sales
market_max_sales = df.groupby('Market')['Sales'].sum().idxmax()
print("Market with maximum sales:",market_max_sales)

Market with maximum sales: APAC

In [220]:
# 14. Region with maximum discount
region_max_discount = df.groupby('Region')['Discount'].sum().idxmax()
print("Region with maximum discount:",region_max_discount)

Region with maximum discount: Central

In [221]:
# 15. Category and Sub-Category with maximum discount
max_discount = df.groupby(['Category', 'Sub-Category'])['Discount'].sum().idxmax()
print("Category and Sub-Category with maximum discount:",max_discount)

Category and Sub-Category with maximum discount:

 ('Office Supplies', 'Binders')

In [222]:
# 16. Category with mean profit closest to the overall mean profit
mean_profit_overall = df['Profit'].mean()
category_mean_profit_closest = (df.groupby('Category')['Profit'].mean() - mean_profit_overall).abs().idxmin()
print("Category closest to mean profit:", category_mean_profit_closest)

Category closest to mean profit: nan

C:\Users\samee\AppData\Local\Temp\ipykernel_18716\2464300916.py:3: FutureWarning: The behavior of Series.idxmin with all-NA values, or any-NA and skipna=False, is deprecated. In a future version this will raise ValueError
  category_mean_profit_closest = (df.groupby('Category')['Profit'].mean() - mean_profit_overall).abs().idxmin()

In [223]:
# 17. Number of distinct categories and subcategories
distinct_categories_count = df['Category'].nunique()
distinct_subcategories_count = df['Sub-Category'].nunique()
print("Distinct categories count:", distinct_categories_count)
print("Distinct subcategories count:", distinct_subcategories_count)

Distinct categories count: 3
Distinct subcategories count: 18

In [224]:
# 18. Number of distinct markets
distinct_markets = df['Market'].nunique()
print("Number of distinct markets:", distinct_markets)

Number of distinct markets: 7

In [225]:
# 19. Number of customers
distinct_customers = df['Customer ID'].nunique()
print("Number of customers:", distinct_customers)

Number of customers: 1590

In [226]:
# 20. Total shipment cost by market
shipment_cost_by_market = df.groupby('Market')['Shipping Cost'].sum()
print("Total shipment cost by market:",shipment_cost_by_market)

Total shipment cost by market: Market
APAC      387165.1140
Africa     88139.4700
Canada      7405.6300
EMEA       88375.7300
EU        309422.3540
LATAM     234133.6150
US        238173.7904
Name: Shipping Cost, dtype: float64

In [227]:
# 21. Convert Shipping Cost, Profit, and Sales into Rupees, Yens, Pounds
conversion_rates = {
    'Rupees': 74.85,  # Example conversion rate
    'Yens': 110.57,   # Example conversion rate
    'Pounds': 0.73    # Example conversion rate
}

# Add converted columns for Shipping Cost
df['Shipping Cost (Rupees)'] = df['Shipping Cost'] * conversion_rates['Rupees']
df['Shipping Cost (Yens)'] = df['Shipping Cost'] * conversion_rates['Yens']
df['Shipping Cost (Pounds)'] = df['Shipping Cost'] * conversion_rates['Pounds']

# Add converted columns for Profit
df['Profit (Rupees)'] = df['Profit'] * conversion_rates['Rupees']
df['Profit (Yens)'] = df['Profit'] * conversion_rates['Yens']
df['Profit (Pounds)'] = df['Profit'] * conversion_rates['Pounds']

# Add converted columns for Sales
df['Sales (Rupees)'] = df['Sales'] * conversion_rates['Rupees']
df['Sales (Yens)'] = df['Sales'] * conversion_rates['Yens']
df['Sales (Pounds)'] = df['Sales'] * conversion_rates['Pounds']

In [228]:
# Display sample of converted columns
print(df[["Shipping Cost", "Shipping Cost (Rupees)", "Shipping Cost (Yens)", "Shipping Cost (Pounds)"]].head())
print(df[["Profit", "Profit (Rupees)", "Profit (Yens)", "Profit (Pounds)"]].head())
print(df[["Sales", "Sales (Rupees)", "Sales (Yens)", "Sales (Pounds)"]].head())

   Shipping Cost  Shipping Cost (Rupees)  Shipping Cost (Yens)  \
0         933.57              69877.7145           103224.8349
1         923.63              69133.7055           102125.7691
2         915.49              68524.4265           101225.7293
3         910.16              68125.4760           100636.3912
4         903.04              67592.5440            99849.1328

   Shipping Cost (Pounds)
0                681.5061
1                674.2499
2                668.3077
3                664.4168
4                659.2192
   Profit  Profit (Rupees)  Profit (Yens)  Profit (Pounds)
0     NaN              NaN            NaN              NaN
1     NaN              NaN            NaN              NaN
2     NaN              NaN            NaN              NaN
3     NaN              NaN            NaN              NaN
4     NaN              NaN            NaN              NaN
      Sales  Sales (Rupees)  Sales (Yens)  Sales (Pounds)
0  2309.650    172877.30250  255378.00050      1686.04450
1  3709.395    277648.21575  410147.80515      2707.85835
2  5175.171    387361.54935  572218.65747      3777.87483
3  2892.510    216504.37350  319824.83070      2111.53230
4  2832.960    212047.05600  313240.38720      2068.06080